/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /* header start */
    header{
        padding: 0;
    }
    .logo{
        width: 180px;
    }
    .manu ul li a {
        margin-bottom: 10px;
        padding: 0 10px !important;
    }
    /* banner start */
    .ban_text {
        text-align: center;
    }
    .ban_h1{
        font-size: 35px;
        padding: 0;
        line-height: 45px
    }
    .ban_p2{
        padding: 0;
        line-height: 30px
    }
    .btn_g{
        margin: 15px auto 0;
        width: 200px;
    }
    .ban_img{
        margin-bottom: 15px;
        padding: 0;
    }
    /* feature start */
    .feature{
        padding: 25px 0 60px;
    
    }
    .ft_item{
        margin-top: 25px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /* header start */
    header{
        padding: 0;
    }
    .logo{
        width: 190px;
    }
    .manu ul li a {
        margin-bottom: 10px;
        padding: 0 10px !important;
    }
    /* banner start */
    .ban_text {
        text-align: center;
    }
    .ban_h1{
        font-size: 35px;
        padding: 0 80px;
        line-height: 45px
    }
    .ban_p2{
        padding: 0 50px;
        line-height: 30px
    }
    .btn_g{
        margin: 15px auto 0;
        width: 350px;
    }
    .ban_img{
        margin-bottom: 20px;
        padding: 0 50px;
    }
    /* feature start */
    .feature{
        padding: 25px 0 60px;
    
    }
    .ft_item{
        margin-top: 25px;
    }



}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/* header start */
    .manu ul li a {
        margin-bottom: 10px;
        padding: 0 10px !important;
    }
    /* banner start */
    .ban_text {
        text-align: center;
    }
    .ban_h1{
        padding: 0 100px;
    
    }
    .ban_p2{
        padding: 0 110px;
    }
    .btn_g{
        margin: 15px auto 0;
        width: 400px;
    }
    .ban_img{
        margin-bottom: 30px;
        padding: 0 100px;
    }
    /* feature start */
    .feature{
        padding: 25px 0 80px;
    
    }
    .ft_item{
        margin-top: 25px;
    }


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {

}